<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-segment" version="0.0.2">
    <name>AnalyticsPlugin</name>
    <description>Cordova Plugin Segment</description>
    <license>MIT License</license>
    <keywords>cordova,segment,analytics</keywords>
    <repo>https://github.com/aliatsis/cordova-plugin-segment.git</repo>

    <engines>
      <engine name="cordova" version=">=3.0.0" />
      <engine name="cordova-android" version=">=4.0.0" />
      <engine name="cordova-ios" version=">=3.0.0" />
    </engines>

    <js-module name="analytics" src="www/analytics.js">
        <clobbers target="cordova.plugins.analytics" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AnalyticsPlugin">
                <param name="android-package" value="com.segment.analytics.cordova.AnalyticsPlugin"/>
                <param name="onload" value="true"/>
            </feature>
            <preference name="analytics_write_key"/>
            <preference name="analytics_debug_write_key"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />

            <!-- Recommended by us and most bundled integrations. -->
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

            <!-- Allow you to get LOGCAT information when a crash occurs. -->
            <uses-permission android:name="android.permission.READ_LOGS"/>

            <!-- Allow you to see which activity was active when a crash occurs. -->
            <uses-permission android:name="android.permission.GET_TASKS"/>

            <!-- Allows location to be tracked by bundled integrations. -->
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

            <!-- Required by Leanplum (and for push notifications). -->
            <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
        </config-file>

        <framework src="com.segment.analytics.android:analytics:4+"/>

        <source-file src="src/android/AnalyticsPlugin.java" target-dir="src/com/segment/analytics/cordova"/>
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AnalyticsPlugin">
                <param name="ios-package" value="AnalyticsPlugin" />
                <param name="onload" value="true"/>
            </feature>
            <preference name="analytics_write_key"/>
            <preference name="analytics_debug_write_key"/>
        </config-file>

        <header-file src="src/ios/AnalyticsPlugin.h" />
        <source-file src="src/ios/AnalyticsPlugin.m" />

        <framework src="Analytics" type="podspec" spec="3.5.5" />

    </platform>

</plugin>
